<div class="person-info">
<div>
<table>
	<tr>
		<td><%= image_tag("#{@results[:data].picture}", :border => 0) %></td>
		<td>
			<h3><%= link_to @results[:data].name, @results[:data].link, :target=>"_blank" %> </h3>
			<div class="small-text">
			<% unless @results[:data].work.blank? %>
			   <% @results[:data].work.each_with_index do |item, i| %>
			   <span>
			   	  <span class="work-icon"></span>
			   	  <span class="work-text">
				      <% unless item.position.blank? %>				     
					     <%= item.position.name+' at' %>
					  <% end %>
					  <% unless item.employer.blank? %>
					    <%= item.employer.name %>
					  <% end %>
				  </span>
			   </span>
				 <% break %>
			    <% end %>  
			<% end %>
			</div>
			<div class="small-text">
			<% unless @results[:data].education.blank? %>
			    <% @results[:data].education.each_with_index do |item, i| %>
			    <span>
			   	  <span class="edu-icon"></span>
			      <span class="edu-text">
			      	Studied&nbsp;
				      <% unless item.degree.nil? %>
					       <%= item.degree.name+' ' %>
					  <% end %>
					  <% unless item.school.nil? %>
					     <%= 'at '+item.school.name %>
					  <% end %>
				  </span>
				 </span>  
				  <% break %>
			    <% end %>
			<% end %>
			
			</div>
			<div class="small-text">
				<span>
			   	  
				<% unless @results[:data].birthday.blank? %>
				<span class="born-icon"></span>
				  <span class="born-text">Born on <%= Date.parse(@results[:data].birthday.to_s).strftime("%B")+' '+Date.parse(@results[:data].birthday.to_s).strftime("%d") %></span>
				<% end %>
				</span>
			</div>
						
		</td>
	</tr>
</table>
</div>




<div class="snippets">
<% unless @results[:data].activities.blank? %>
  <span class="activities">
  	Activities &amp; Interest
  </span>
    <% @results[:data].activities.each_with_index do |item, i| %>
	<span class="small-text-w-margin">  <%= item.name %></span>
    <% end %>
 
<% end %>
</div>

<div class="snippets">
<% unless @results[:data].bio.blank? %>
<span class="activities">
  	Quotes
  </span>
  <span class="small-text-w-margin"><%= @results[:data].bio.to_s %></span>
<% end %>

</div>



	<div id="fb-feed-container">
		<div class="feed-header">
			<%= @results[:data].name %>'s Feed:
		</div>
		<div class="feed-item">		
			<% unless @results[:data].feed.blank? %>
			  <% @results[:data].feed.each_with_index do |item, i| %>
			    <p>
				  <%= item.story %>
				  <%= item.message %> 
				  <% unless item.from.name.casecmp(@results[:data].name) == 0 %>
				    <% if item.story.blank? and item.message.blank? %>
					<%else%>
				      - <%= item.from.name %>
				    <% end %>
				  <% end %>
				</p>
			  <% end %>
			<% end %>		
		</div>
		
	</div>

</div>

